
/* .mainContainer{
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 10px 40px;
}
.mainHeading{
  padding: 20px;
  background-color: #B8B2FC;
  text-align: center;
  margin: 0px;
}
.upperContainer{
  display: flex;
  justify-content: flex-end;
}
.middleContainer{
  display: flex;
  gap: 40px;
}
.lowerContainer{
  display: flex;
  justify-content: flex-end;
} */
.accordionDiv{
  width: 16rem;
  padding: 0px 10px;
  background-color: rgb(210, 225, 240);
  height: 100vh;
  color: white;
  border: 0.1px solid #5090D3;
}
@media (max-width: 600px) {
  .accordionDiv {
    width: 100vw;
  }
}
.itemDiv{
  background-color: #324A62;
  color: rgb(204, 204, 204);
  cursor: pointer;
  padding: 4px;
  margin: 4px 0px;
  padding-left: 25px;
  border-radius: 4px;
  font-size: small;
}
.itemDiv:hover{
  background-color: rgb(8, 27, 46);
}
.Page1{
  color: white;
  display: flex;
  flex-direction: column;
}
.upperAccordionDiv{
  margin: 20px 0px;
  box-shadow: 0px 0px 2px 0.2px #0070f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius:5px;
}
.upperAccordionDiv>div{
  height: 65px;
  border-radius:5px;
}
.upperInputContainer{
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center; 
}
.inputContainer{
  width: 100%;
  background-color: rgb(0, 30, 60);
  border-radius:5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputDropDown{
  width: 10rem;
  height: 1.7rem;
  margin: auto;
  text-align: center;
  font-size: medium;
}